

.App {
  position: relative;
    text-align: center;
    /* background-image: url('./coffee.gif'); */
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 20px 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
  width: 30%;
  margin: 10px;
  height: 200px;
  padding: 2px;
  /* margin: 0 20%; */
  box-shadow: 2px 2px 50px rgb(0, 0, 0);
  /* background-color: rgba(36, 36, 36, 0.5); */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__btn{
  color: white;
  background-color: transparent;
}

.card__hero{
  height: 100px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card iframe {
  width: 100%;
  margin-bottom: 30px;
}

.card__sound-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal{
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal__inner{
  background: black;
  margin: 20px 20%;
  color: white;
  height: auto;
  padding: 2rem;
}
.modal__input{
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
}
.modal__list-item{
  color: black;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}

.modal__list-item label {
  font-size: 1.2rem;
  text-align: left;
}


.modal__btn{
  padding: 0.8em;
  background: white;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em;
}
.sound{
  padding: 2px;
  margin: auto 0;
  /* display: block; */
  width: 15%;
  cursor: pointer;
}

.sound__name{
  font-size: 0.7rem;
}

.sound__icon{
  width: 100%;
  transform: scale(0.8,0.8)
}

.active{
  background-color: rgba(0, 0, 0, 0.8);
}
.show{
  display: block;
}

.hide{
  display: none
}

.footer, .footer a{
  color: white;
}
.addblock-start{
  flex-shrink: 0;
  color: white;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
.addblock-btn-1{
  position: absolute;
  top: 0;
  right: 40px;
}


.addblock-btn-2{
  position: absolute;
  top: 0;
  right: 2px;

}

@media screen and (max-width: 500px) {
 .card{
  margin: 0 10%;

}

.card__modal-inner h1{
  font-size: 0.9em;
}

}